.TodoForm {
  display: flex;
}

.InputText {
  flex: 10;
  padding: '5px';
}

.InputButton {
    flex: 1;
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  
  .InputButton:hover {
    background: #666;
  }