/*Add button-lighten-up animation*/
@keyframes button-lighten-up {
  0%{
    background-color: rgba(38,50,56,0.9);
  }
  50%{
    background-color: rgba(84,111,112,0.1);
  }
  100%{
    background-color: rgba(130,173,169,0.9);
  }
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

body{
  background-image: url("https://wallpaper-gallery.net/images/blurry-wallpaper/blurry-wallpaper-19.jpg");
  height:98.3vh;
  width:99vw;
  font-family: "Roboto", sans-serif;
}

.navbar{
 background-color: rgba(229,255,255,0.3);
 padding: 0.2%;
 border: 30px groove #82ada9;
 border-radius: 5%;
 height: 7%;
 vertical-align: middle;
 padding: 1.5%;
}

.header{
  float: left;
  background-color: rgba(38,50,56,0.9);
	border-radius: 20% 10% 20% 10%;
  min-width: 13%;
  max-width: 40%;
  height: 90%;
  margin: 0px 10px 0px 10px;
  text-align: center;
  color: #ffffff;
}

.page-button{
  float: left;
	background-color: rgba(38,50,56,0.9);
	border-radius: 40% 20% 40% 20%;
  min-width: 13%;
  max-width: 30%;
  height: 60%;
  margin: 0px 10px 0px 10px;
  padding-top: 1.2%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.page-button:hover{
  animation: button-lighten-up 1s ease 0s 1;
  background-color: rgba(130,173,169,0.9);
}

.icon{
  float: right;
  background-color:  rgba(38,50,56,0.9);
	border-radius: 30% 10% 30% 10%;
  min-width: 13%;
  max-width: 30%;
  padding-top: 0.4%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.navbar .icon:hover{
  animation: button-lighten-up 1s ease 0s 1;
  background-color: rgba(130,173,169,0.9);
}

.content{
  background-color: rgba(27,27,27,0.7);
  border-radius: 5%;
  height: 73%;
}

/*=========================LEFT=CONTENT========================*/
.left-side{
  float: left;
  background-color: rgba(130,173,169,0.9);
  height: 80%;
  width: 10%;
  margin: 1%;
  padding: 1.5%;
	border-radius: 4% 6% 4% 6%;
  text-align: center;
}

/*============================Login Modal=======================*/

/* Full-width input fields */
input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button{
  background-color: rgba(38,50,56,0.9);
  border-radius: 10%;
  color: white;
  padding: 14px 20px;
  margin: 1% 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover{
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn{
  width: auto;
  padding: 1% 2%;
  border-radius: 10; 
  background-color: #f44336;
}

img.avatar{
  width: 40%;
  border-radius: 50%;
}

.container{
  padding: 1%;
}

span.psw{
  float: right;
  padding-top: 10%;
}

/* The Modal (background) */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content{
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close{
  position: absolute;
  right: 10%;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus{
  color: red;
  cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px){
  span.psw{
     display: block;
     float: none;
  }
  .cancelbtn{
     width: 100%;
  }
}

/*==================CENTER=CONTENT=======================*/

.center{
  float: left;
  background-color: rgba(229,255,255,0.9);
  height: 88%;
  width: 66%;
  margin: 0.5%;
  padding: 1.5%;
	border-radius: 4% 6% 4% 6%;
  text-align: center;
}

.currency-catalog{
  overflow: scroll;
  border-radius: 5%;
  height: 90%;
  width: 92%;
  margin: 4%;
  color: #ffffff;
}

.currency-catalog-item{
  background-color:  rgba(38,50,56,0.9);
  border-radius: 5%;
  height: 15%;
  width: 20%;
  margin: 5% 5% 5% 7%;
  float:left;
  padding-top: 2%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
}

.currency-catalog-item:hover{
  animation: button-lighten-up 1s ease 0s 1;
  background-color: rgba(130,173,169,0.9);
}

/*==================RIGHT=CONTENT=======================*/

.right-side{
  float: right;
  background-color: rgba(178,223,219,0.9);
  height: 80%;
  width: 10%;
  margin: 1%;
  padding: 1.5%;
	border-radius: 4% 6% 4% 6%;
  text-align: center;
}

/*=========================FOOTER========================*/

.footer{
  float: right;
  margin: 0.5%;
  padding: 0.5%;
	border-radius: 5%;
  background-color: rgba(130,173,169,0.2);
}
