@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to BookListRazor App</h1>
    <p>
        This app is made with the help of tutorial on Youtube Channel freeCodeCamp.org.
        <br />
        <br />
        <a href="https://youtu.be/C5cnZ-gZy2I">Learn ASP.NET Core 3.1 - Full Course for Beginners [Tutorial]</a>
        <br />
        <br />
        <span class="text-black-50">This is a ASP.Net Razor Pages Web App.</span></p>
</div>
